APP_NAME=enterprise-aks-sample-api
APP_VERSION=2.0.0
APP_ENVIRONMENT=local
LOG_LEVEL=INFO
OTEL_ENABLED=false
OTEL_SERVICE_NAME=enterprise-aks-sample-api
OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4318
OTEL_METRIC_EXPORT_INTERVAL_MS=15000
OTEL_TRACE_SAMPLE_RATIO=1.0
